:host {
    background: none;
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    border-radius: 0.4em;
}

.timer_inner_container {
    border-style: outset;
    border-width: 4px;
    border-color: #666666;
    background-color: #666666;
    overflow: hidden;
    display: flex;
    border-radius: 0.4em;
    padding: 0.2em;
}

.timer_side {
    overflow: hidden;
    display: flex;
}

.timer_digit {
    border-style: inset;
    border-width: 0.1em;
    border-color: #888888;
    position: relative;
    overflow: hidden;
    background-color: #666666;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.3em;
}

.timer_divider {
    padding-right: 0.1em;
    padding-left: 0.1em;
    position: relative;
}

.timer_divider,
.timer_digit {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-decoration: none;
    color: #ffa241;
    text-shadow: 2px 2px 4px #930804;
}