html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input {
  height: 2em;
}

@keyframes move {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Blockly overrides */

.blocklyToolboxDiv {
  background: #fff !important;
  border-right: 1px solid grey;
}

.blocklyTreeRoot {
  padding: 0 !important;
}


.blocklyTreeSeparator {
 margin: 0 !important;
}

.blocklyTreeRow {
  margin: 0 !important;
  padding: 5px 10px 5px 0 !important;
  height: 30px !important;
  display: flex;
  align-items: center;
}

.blocklyTreeIcon {
  display: none;
}

.blocklyMainBackground {
  fill: #ECF0F1;
}

/* disable 3d effect of blocks */
.blocklyPathDark {
  display: none;
}
<<<<<<< 75ee78261be6fd61abdf1cc7b149f39e0068d653
.blocklyPathLight {
  display: none;
}
=======

.highlight {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(225,255,0,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(225,255,0,1);
  box-shadow: 0px 0px 5px 0px rgba(225,255,0,1);
  -webkit-transition: box-shadow 2s;
  transition: box-shadow 2s;
}

.highlight.on {
  -webkit-box-shadow: 0px 0px 20px 3px rgba(225,255,0,1);
  -moz-box-shadow: 0px 0px 20px 3px rgba(225,255,0,1);
  box-shadow: 0px 0px 20px 3px rgba(225,255,0,1);
}
>>>>>>> highlight by class: "highlight"
