html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input {
  height: 2em;
  width: 100%;
}